PORT=

# Database local development
DB_CONTAINER=
DB_USER=
DB_PASS=
DB_NAME=
DB_PORT=

# Database vars only for prisma
DB_HOST=localhost
DATABASE_URL="postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}"